[submodule "external/SQLiteCpp"]
	path = external/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
